<div class="container">
    <div class="card">
    <h2 class="text-center">Add Contact Details</h2>


    <form class="p-4" [formGroup]="contactForm" >
        <div class="form-group mb-3">
            <label for="exampleInputEmail1" class="form-label">First Name <span class="text-danger fw-2"><b>*</b></span></label>
            <input type="email" class="form-control" placeholder="Enter Your First Name" formControlName="Firstname">
        </div>
        <div class="form-group mb-3">
            <label for="exampleInputEmail1" class="form-label">Last Name <span class="text-danger fw-2"><b>*</b></span></label>
            <input type="email" class="form-control" placeholder="Enter Your Last Name" formControlName="Lastname">
        </div>
        <div class="form-group mb-3">
            <label for="exampleInputEmail1" class="form-label">Email <span class="text-danger fw-2"><b>*</b></span></label>
            <input type="email" class="form-control" placeholder="Enter Your Email" formControlName="Email">
        </div>
        <div class="form-group mb-3">
            <label for="exampleInputEmail1" class="form-label">Phone Number <span class="text-danger fw-2"><b>*</b></span></label>
            <input type="email" class="form-control" placeholder="Enter Your Phone Number" formControlName="PhoneNumber">
        </div>
        <div class="form-group mb-3">
            <label for="exampleInputEmail1" class="form-label">City <span class="text-danger fw-2"><b>*</b></span></label>
            <input type="email" class="form-control" placeholder="Enter Your City Name" formControlName="City">
        </div>
        <div class="mt-2 text-center">
        <button type="submit" class="btn btn-primary" (click)="submitContact(contactForm.value)" [disabled]="contactForm.invalid">Submit</button>
        <button type="submit" class="btn btn-success m-2" routerLink="/contactList">Back</button>
    </div>
    </form>
    </div>
</div>