    <img src="https://img.freepik.com/free-vector/404-error-purple-background_24908-77785.jpg?t=st=1735122983~exp=1735126583~hmac=c02cde6aa7a115738be85f41608e2ae51442d57e8ad6eabf93dbb7e279aa3a21&w=740" alt="404 Page not found ">
<h1 class="error-text">Oops, We can't seem to find the resources you are looking for</h1>
<p class="text">please check that the website address is spelled correctly or not</p>
<div class="container d-flex justify-content-center">
    <button type="button" class="btn btn-primary"  routerLink="/login-signup">Back</button>
</div>