<section class="vh-100" *ngIf="!isShow">
    <div class="container vh-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-xl-9">
                <div class="card shadow border-none">
                    <div class="row g-0">
                        <div class="col col-md-4 col-lg-6">
                            <img src="https://img.freepik.com/free-vector/forgot-password-concept-illustration_114360-1123.jpg?t=st=1733702868~exp=1733706468~hmac=4ee44c0aaa823ec07a566ab3c9bbeb9fa4eecaec17549c425a3e40c4fa710993&w=740" alt="login-signup image"
                            class="img-fluid">
                        </div>

                        <!-- From section -->
                         <div class="col-md-6 col-lg-6 align-items-center d-flex">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form [formGroup]="loginForm">
                                    <div class="d-flex align-items-center mb-3 pb-1"> 
                                        <span class="h1 fw-bold mb-0 text-center">Login</span>
                                    </div>
                                    <h5 class="fw-normal mb-2 pb-1">Login Into Your Account</h5>
                                    <div class="form-outline">
                                        <label class="form-label">Email Address <span class="fw-bold text-danger">*</span></label>
                                        <input type="email" class="form-control form-control-lg" placeholder="Enter the Email id" formControlName="email">
                                    </div>
                                    <div class="form-outline">
                                        <label class="form-label">Password<span class="fw-bold text-danger">*</span></label>
                                        <input type="password" class="form-control form-control-lg" placeholder="Enter the password" formControlName="password">
                                    </div>
                                    <div class="pt-3 mb-2 text-center">
                                        <button class="btn btn-dark" type="button" [disabled]="loginForm.invalid" (click)="loginuser()">Login</button>
                                    </div>
                                    <p class="mt-2 pb-lg-2 text-center">Don't Have an Account ?
                                    <a  style="color: rgb(20, 62, 199) ;cursor: pointer;font-weight: 600;" (click)="signup()">SignUP here </a></p>
                                </form>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Sign in -->

<section class="vh-100" *ngIf="isShow">
    <div class="container vh-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-xl-9">
                <div class="card shadow border-none">
                    <div class="row g-0">
                        <div class="col col-md-4 col-lg-6">
                            <img src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?t=st=1733704017~exp=1733707617~hmac=fa2e3d528630bc21fd33e83005f2eb34dac3e1b96ade3c563ee6b0fc4e539e82&w=740" alt="login-signup image"
                            class="img-fluid">
                        </div>

                        <!-- From section -->
                         <div class="col-md-6 col-lg-6 align-items-center d-flex">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form [formGroup]="signupForm">
                                    <div class="d-flex align-items-center mb-3 pb-1"> 
                                        <span class="h1 fw-bold mb-0 text-center">SignUp</span>
                                    </div>
                                    <h5 class="fw-normal mb-2 pb-1">Signup Into Your Account</h5>
                                    <div class="form-outline">
                                        <label class="form-label">Name <span class="fw-bold text-danger">*</span></label>
                                        <input type="text" class="form-control form-control-lg" placeholder="Enter your Name" formControlName="name">
                                    </div>
                                    <div class="form-outline">
                                        <label class="form-label">Email Address <span class="fw-bold text-danger">*</span></label>
                                        <input type="email" class="form-control form-control-lg" placeholder="Enter the Email id" formControlName="email">
                                    </div>
                                    <div class="form-outline">
                                        <label class="form-label">Password<span class="fw-bold text-danger">*</span></label>
                                        <input type="password" class="form-control form-control-lg" placeholder="Enter the password" formControlName="password">
                                    </div>
                                    <div class="pt-3 mb-3 text-center">
                                        <button class="btn btn-success" type="button" (click)="submit()" [disabled]="signupForm.invalid">SignUp</button>
                                    </div>
                                    <p class="mt-2 pb-lg-2 text-center">Already Have an Account ?
                                    <a style="color: rgb(20, 62, 199) ;cursor: pointer;font-weight: 600;" (click)="login()">Login here </a></p>
                                </form>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

